<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Токсичен ли этот комментарий?</h2>
  <form id="checkForm">
    <div class="form-group">
      <div class="col-md-10">
        <input type="text" class="form-control" id="query" name="query" placeholder="Введите текст для проверки" autofocus>
        <span id="characterCount"></span> characters remaining
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-block btn-primary">Отправка</button>
      </div>
    </div>
  </form>
</div>
<div id="resultContainer" class="container" hidden>
  <h2>Ответ модели</h2>
  <div id="result"></div>
  <h2>Результат</h2>
  <div id="explanation"></div>
</div>

<script>
$(document).ready(function() {
  $("#query").on("keyup", function() {
    var remainingChars = 250 - $(this).val().length; // Adjust character limit
    $("#characterCount").text(remainingChars);
  });
  $("#checkForm").submit(function(event) {
    event.preventDefault();

    var $form = $(this),
      term = $form.find("input[name='query']").val();

    // Send AJAX request to /classify_comment endpoint
    $.ajax({
      url: "/classify_comment",
      data: {
        text: term
      },
      method: "GET",
      dataType: "json",
      success: function(response) {
        // Process and display classification results
        if (response.label && response.score) {
          var label = response.label;
          var score = response.score;

          var explanation = "Вероятность: "+ score;
          var clas = "Не токсичный";
          if (label == "LABEL_1") {
            clas = "Токсичный";
          }

          $("#result").empty().append(clas);
          $("#score").empty().append(score.toFixed(2));
          $("#explanation").empty().append(explanation);
          $("#resultContainer").show();
        } else {
          // Handle error if response is missing label or score
          $("#result").empty().append("Ошибка классификации");
          $("#explanation").empty();
          $("#resultContainer").show();
        }
      },
      error: function(response) {
        // Handle AJAX request error
        $("#result").empty().append("Ошибка запроса");
        $("#explanation").empty();
        $("#resultContainer").show();
      }
    });
  });
});
</script>

</body>
</html>
